@model UserAccountChangePassVM
<div class="container col-md-12">
    <div class="row">
        <form method="post" asp-controller="UserAccount" asp-action="ChangePassword">
            <div class="form-group">
                <input class="col-md-4" type="text" asp-for="Id" hidden />
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="IdentificationNumber">JMBG</label>
                <input type="password" class="col-md-4" asp-for="IdentificationNumber" />
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="OldPassword">Stara šifra</label>
                <input type="password" class="col-md-4" asp-for="OldPassword" />
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="NewPassword">Nova šifra</label>
                <input class="col-md-4" type="password" asp-for="NewPassword" />
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="RepeatedNewPassword">Ponovljena nova šifra</label>
                <input class="col-md-4" type="password" asp-for="RepeatedNewPassword" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Promeni šifru</button>
            </div>
        </form>
    </div>
</div>