@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OnlineWallet</h1>
    <p>Learn about <a href="https://github.com/maxosacc/online-wallet"> project and README file</a>.</p>
</div>
